// colors
$background1: #203040;
$background2: #f0f0f0;
$background3: #f8f8f8;
$background4: #f0c040;
$white: #FFF;
$hover1: #ff8000;
$border1: #c0c0c0;
$border2: #808080;
$border3: #404040;
$font1: #808080;